WreslPlus          Yes
MainFile           Run\main_BO_AllFixes090412_wreslplus.wresl
Solver             XA
DvarFile           DSS\Future_BO_36steps_wreslplus.DSS
SvarFile           DSS\CL_FUTURE_BO_080911_SV.DSS
SvarAPart          CALSIM
SvarFPart          2020D09E
InitFile           DSS\CalLite2020D09EINIT.dss
InitFPart          2020D09E
NumberOfSteps      36
TimeStep           1MON
StartYear          1921
StartMonth         10
StopYear           2003
StopMonth          9

PrefixInitToDvarFile   No

IlpLog                 Yes
IlpLogFormat           CplexLp
IlpLogVarValue         Yes
# IlpLogMaximumFractionDigits 2
## LpSolve setting
LpSolveConfigFile     callite.lpsolve
LpSolveNumberOfRetries 2