# This config file and run folder must be placed in the same directory

Begin Config
WreslPlus              yes
MainFile               run\demo_1_wreslplus.wresl 
Solver                 XA  
DvarFile               "DSS\demo_1_wreslplus.dss"
SvarFile               "DSS\SV.DSS" 
SvarAPart              CALSIM  
SvarFPart              2020D09E 
InitFile               "DSS\INIT.dss" 
InitFPart              2020D09E 
TimeStep               1MON
StartYear              1921
StartMonth             10
#StopYear               2003
#StopMonth              9
NumberOfSteps		   1
#GroundwaterDir         .
ShowWreslLog		   Yes # another comment
SendAliasToDvar        No
PrefixInitToDvarFile   No

# LpSolve setting
LpSolveConfigFile     callite.lpsolve
LpSolveNumberOfRetries 2

IlpLog  yes
IlpLogFormat   LpSolve+CplexLp
IlpLogVarValue yes

End Config



