# This config file and run folder must be placed in the same directory

Begin Config
MainFile               run\main_BO_afterMod.wresl # this is comment
Solver                 ILP_LPSOLVE  
DvarFile               "DSS\DV_afterMod_defaultCase_LpSolve.dss"
SvarFile               "DSS\default_CL_FUTURE_BO_080911_SV.DSS" 
SvarAPart              CALLITE  
SvarFPart              2020D09E 
InitFile               "DSS\default_CL_INIT.dss" 
InitFPart              INITIAL 
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               2003
StopMonth              9
#NumberOfSteps		   24
GroundwaterDir         .
ShowWreslLog		   No 
SendAliasToDvar        No
PrefixInitToDvarFile   No

# LpSolve setting
LpSolveConfigFile     callite.lpsolve
LpSolveNumberOfRetries 2
#IlpMaximumFractionDigits  2

End Config



