# This config file and run folder must be placed in the same directory

Begin Config
MainFile               run\main_BO_afterMod.wresl # this is comment
Solver                 ILP_LPSOLVE  
DvarFile               "DSS\DVAR\DV_FUTURE_BO_LpSolve.dss"
SvarFile               "DSS\CL_FUTURE_BO_080911_SV.DSS" 
SvarAPart              CALLITE  
SvarFPart              2020D09E 
InitFile               "DSS\CL_INIT.dss" 
InitFPart              INITIAL 
LookupSubDir           FUTURE_BO
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               2003
StopMonth              9
#NumberOfSteps		   24
GroundwaterDir         .
ShowWreslLog		   No 
SendAliasToDvar        No
PrefixInitToDvarFile   No
#IlpMaximumFractionDigits  2

# LpSolve setting
LpSolveConfigFile     callite.lpsolve
LpSolveNumberOfRetries 2


End Config



