# This config file and run folder must be placed in the same directory

Begin Config
MainFile               run\simple1_debug.wresl # this is comment
Solver                 ILP_LPSOLVE  
DvarFile               "DSS\DV.dss"
SvarFile               "DSS\SV.dss"
SvarAPart              CALSIM  
SvarFPart              CALSIMIII06
InitFile               "DSS\INIT.dss"
InitFPart              CALSIMIII06 
TimeStep               1MON
StartYear              1921
StartMonth             10 
NumberOfSteps			1
GroundwaterDir         ..\common\CVGroundwater\Data
ShowWreslLog		   Yes # another comment
SendAliasToDvar        No
PrefixInitToDvarFile   No

# LpSolve setting
LpSolveSettingFile     demo.lpsolve_setting
LpSolveNumberOfRetries 2

End Config



