# This config file and run folder must be placed in the same directory

Begin Config
MainFile               Run\Simple1.wresl # this is comment
Solver                 CBC 
DvarFile               "DSS\DV_CBC.dss"
SvarFile               "DSS\SV.dss"
SvarAPart              CALSIM  
SvarFPart              CALSIMIII06
InitFile               "DSS\INIT.dss"
InitFPart              CALSIMIII06 
TimeStep               1MON
StartYear              1921
StartMonth             10 
NumberOfSteps			1
GroundwaterDir         ..\common\CVGroundwater\Data
ShowWreslLog		   Yes # another comment
SendAliasToDvar        No
PrefixInitToDvarFile   No

IlpLog                 Yes
IlpLogFormat           LpSolve+CplexLp+MPModel
IlpLogVarValue		   Yes

End Config



