# This config file and main wresl file must be placed in the same directory "RUN"

Begin Config
WreslPlus              Yes
MainFile               run\mainCONV_30_SA_WSI_wreslplus.wresl
Solver                 XA    
DvarFile               "DSS\DV_WreslPlus_WSI.dss"
SvarFile               "..\common\DSS\CalSim30_10_SV.dss"
SvarAPart              CALSIM  
SvarFPart              CalSim30_10
InitFile               "..\common\DSS\CalSim30_10Init.dss" 
InitFPart              CalSim30_10 
TimeStep               1MON
StartYear              1921
StartMonth             10 
StopYear               2003
StopMonth              9
#NumberOfSteps		   12
GroundwaterDir         ..\common\CVGroundwater\Data\
ShowWreslLog		   yes
SendAliasToDvar        No
PrefixInitToDvarFile   No


IlpLog                 No
IlpLogFormat           CplexLp
IlpLogVarValue         No 


End Config



