# This config file and run folder must be placed in the same directory
Begin Config
WreslPlus              Yes
MainFile               run\main_BO_postMod_local_WeightGroup_1265_5000.wresl # this is comment
Solver                 XA  
DvarFile               "DSS\DVAR\DV_EXISTING_BO_XA_local_WeightGroup_1265_5000.dss"
SvarFile               "DSS\CL_EXISTING_BO_081011_SV.DSS" 
SvarAPart              CALLITE  
SvarFPart              2005A01A 
InitFile               "DSS\CL_INIT.dss" 
InitFPart              INITIAL 
LookupSubDir           EXISTING_BO
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               2003
StopMonth              9
#NumberOfSteps		   24
ShowWreslLog		   No 
PrefixInitToDvarFile   No
IlpLog                 No
IlpLogVarValue         No
IlpLogMaximumFractionDigits 2

End Config

