# This config file and run folder must be placed in the same directory
Begin Config
MainFile               run\main_BO_postMod.wresl # this is comment
Solver                 LPSOLVE  
DvarFile               "DSS\DVAR\DV_FUTURE_PREBO_LpSolve.dss"
SvarFile               "DSS\CL_FUTURE_PREBO_080911_SV.DSS" 
SvarAPart              CALLITE  
SvarFPart              2020D09E 
InitFile               "DSS\CL_INIT.dss" 
InitFPart              INITIAL 
LookupSubDir           FUTURE_PREBO
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               2003
StopMonth              9
#NumberOfSteps		   24
ShowWreslLog		   No 
PrefixInitToDvarFile   No
IlpLog                 Yes
IlpLogVarValue         Yes
IlpLogMaximumFractionDigits 2
# LpSolve setting
LpSolveConfigFile     callite.lpsolve
LpSolveNumberOfRetries 2

End Config

