Begin Config
WreslPlus    yes
MainFile    run\main.wresl
Solver    XA
DvarFile    Run\DSS\D1641_DV.DSS
SvarFile    Run\DSS\CL_FUTURE_BO_080911_SV.DSS
SvarAPart    CalLite
SvarFPart    2020D09E
InitFile    Run\DSS\CL_INIT.dss
InitFPart    INITIAL
TimeStep    1MON
StartYear    1921
StartMonth    10
NumberOfSteps    12
ShowWreslLog    Yes
PrefixInitToDvarFile    No
IlpLog    no
IlpLogFormat    CplexLp
IlpLogVarValue    no
End Config
