# This config file and run folder must be placed in the same directory

Begin Config

WreslPlus              yes
MainFile               run\main.wresl
Solver                 XA  
DvarFile               Run\DSS\Test_DV.DSS
SvarFile               Run\DSS\CL_FUTURE_BO_080911_SV.DSS
SvarAPart              CalLite 
SvarFPart              2020D09E
InitFile               Run\DSS\CL_INIT.dss
InitFPart              INITIAL 
TimeStep               1MON
StartYear              1921
StartMonth             10
NumberOfSteps          12 
#StopYear               1922
#StopMonth              9
#GroundwaterDir         .
ShowWreslLog		   Yes 
PrefixInitToDvarFile   No    # Do not write initial dss file data into dvar dss result file

IlpLog  no
IlpLogFormat   CplexLp
IlpLogVarValue no

End Config

