# This config file and run folder must be placed in the same directory

Begin Config
#MainFile               D:\cvwrsm\trunk\wrims_v2\wrims_v2\examples\callite_uniqueSolution2\run\main_BO.wresl
MainFile               run\main_BO.wresl 
Solver                 LPSOLVE  
DvarFile               "DSS\DV_LpSolve_36.dss"
SvarFile               D:\cvwrsm\trunk\wrims_v2\wrims_v2\examples\callite_uniqueSolution2\DSS\CL_FUTURE_BO_080911_SV.DSS
#SvarFile               "DSS\CL_FUTURE_BO_080911_SV.DSS" 
SvarAPart              CALSIM  
SvarFPart              2020D09E 
InitFile               "DSS\CalLite2020D09EINIT.dss" 
InitFPart              2020D09E 
TimeStep               1MON
StartYear              1921
StartMonth             10
#StopYear               2003
#StopMonth              9
NumberOfSteps		   36
#GroundwaterDir         .
ShowWreslLog		   No # another comment
SendAliasToDvar        No
PrefixInitToDvarFile   No

# LpSolve setting
LpSolveConfigFile     callite.lpsolve
LpSolveNumberOfRetries 2

IlpLog  no
IlpLogVarValue yes

End Config



