Begin Config
WreslPlus	Yes
MainFile	run\main.wresl
Solver	XA
InitFile	Run\DSS\CL_INIT.dss
InitFPart	INITIAL
SvarFile	Run\DSS\CL_EXISTING_BO_081011_SV.dss
SvarAPart	CalLite
SvarFPart	2005A01A
DvarFile	Run\DSS\D1641_DV_2.DSS
StartYear	1921
StartMonth	10
NumberOfSteps	12
LookupSubDir	PA_Base_D1641_Existing
ShowWreslLog	Yes
PrefixInitToDvarFile	Yes
IlpLog	No
IlpLogFormat	CplexLp
IlpLogVarValue	no
IlpLogAllCycles	no
End Config
