# This config file and run folder must be placed in the same directory

Begin Config

WreslPlus              yes
MainFile               .\run\main.wresl
Solver                 CBC
SolveCompare           XA_CBC
DvarFile               .\OUT\solveCompare_base_CBC_DV.dss
SvarFile               .\run\DSS\CL_FUTURE_BO_20170425_SV.DSS
SvarAPart              CalLite 
SvarFPart              2020D09E
InitFile               .\Run\DSS\CL_INIT.dss
InitFPart              INITIAL 
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               1921
StopMonth              11
#GroundwaterDir         .
ShowWreslLog		   Yes 
PrefixInitToDvarFile   Yes    

IlpLog  no
IlpLogFormat   CplexLp
IlpLogVarValue no

End Config

