# This config file and run folder must be placed in the same directory

Begin Config

WreslPlus              yes
MainFile               .\run\main.wresl
Solver                 CBC
DvarFile               .\OUT\Tolerance_DV.dss
SvarFile               .\run\DSS\CL_FUTURE_BO_20170425_SV.DSS
SvarAPart              CalLite 
SvarFPart              2020D09E
InitFile               .\Run\DSS\CL_INIT.dss
InitFPart              INITIAL 
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               1921
StopMonth              11
#GroundwaterDir         .
ShowWreslLog		   Yes 
PrefixInitToDvarFile   Yes    

IlpLog  no
IlpLogFormat   CplexLp
IlpLogVarValue no

cbcTolerancePrimal        1e-9
cbcTolerancePrimalRelax   1e-7
cbcToleranceWarmPrimal    1e-9
cbcToleranceInteger       1e-9
cbcToleranceIntegerCheck  1e-8
cbcToleranceZero          1e-11
End Config

