# This config file and run folder must be placed in the same directory

Begin Config

WreslPlus              No
MainFile               run\main_BO_AllFixesShort.wresl 
Solver                 XA  
DvarFile               DSS\CL_EXISTING_BO_081011_DV_XA.DSS
SvarFile               DSS\CL_EXISTING_BO_081011_SV.DSS
SvarAPart              CALSIM  
SvarFPart              2005A01A 
InitFile               DSS\CalLite2005A01AINIT.DSS
InitFPart              2005A01A 
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               2003
StopMonth              9
#GroundwaterDir         .
ShowWreslLog		   Yes 
PrefixInitToDvarFile   No

IlpLog  no
IlpLogFormat   CplexLp
IlpLogVarValue no

End Config


