# This config file and run folder must be placed in the same directory

Begin Config

WreslPlus              yes
MainFile               run\main.wresl
Solver                 XA  
DvarFile               Run\DSS\D1641_PA_result.DSS
SvarFile               Run\DSS\CL_EXISTING_BO_081011_SV.dss
SvarAPart              CalLite 
SvarFPart              2005A01A
InitFile               Run\DSS\CL_INIT_PA.dss
InitFPart              INITIAL 
TimeStep               1MON
StartYear              1921
StartMonth             10
#NumberOfSteps          36 
StopYear               1976
StopMonth              9
#GroundwaterDir         .
LookupSubDir           PA_Base_D1641_Existing
ShowWreslLog		   yes 
PrefixInitToDvarFile   no    # Do not write initial dss file data into dvar dss result file

IlpLog  no
IlpLogFormat   CplexLp
IlpLogVarValue no

End Config

