<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/wrims_schematics/src/wrims/schematic/Schematic.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="Java_Bin" value="D:\cvwrsm\trunk\3rd_party\jrockit-jre1.6.0_26-R28.1.4\bin\"/>
<mapEntry key="Vista_Lib" value="D:\cvwrsm\trunk\3rd_party\vista\lib"/>
<mapEntry key="WRIMSv2_Engine_Home" value="D:\cvwrsm\trunk\wrims_v2\wrimsv2_plugin\Engine\"/>
<mapEntry key="path" value="D:\cvwrsm\trunk\calsim30\calsim30_bo\conv\Run\External;D:\CalLite_Beta_042611\Run\External;D:\cvwrsm\trunk\wrims_v2\wrims_v2\examples\CALSIM30_051711_BO\CONV\Run\External;D:\cvwrsm\trunk\wrims_v2\wrims_v2\src\wrimsv2\lib"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="wrims.schematic.Schematic"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="wrims_schematics"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=&quot;lib;D:\cvwrsm\trunk\calsim30\calsim30_bo\conv\Run\External;D:\cvwrsm\trunk\3rd_party\vista\lib;D:\CalLite_Beta_042611\Run\External;D:\cvwrsm\trunk\wrims_v2\wrims_v2\examples\CALSIM30_051711_BO\CONV\Run\External;D:\cvwrsm\trunk\wrims_v2\wrims_v2\src\wrimsv2\lib&quot;"/>
</launchConfiguration>
