##################################################################################
# Command line Example:
# C:\wrimsv2_SG\bin\runConfig_limitedXA.bat D:\example\EXISTING_BO.config
# 
# Note:
# 1. This config file and the RUN directory must be placed in the same directory.
# 2. Use relative path to increase the portability.
#    For example, use RUN\main.wresl for MainFile and DSS\INIT.dss for InitFile
##################################################################################


MainFile           Run\main.wresl
Solver             XA
DvarFile           DSS\CL_D1485_20131015_DV.DSS
SvarFile           DSS\CL_D1485_20131015_SV.dss
#GroundwaterDir     
SvarAPart          CalSim
SvarFPart          2020D09E
InitFile           DSS\CalLite2020D09EINIT.dss
InitFPart          2020D09E
TimeStep           1MON
StartYear          1921
StartMonth         10
StopYear           2003
StopMonth          9
IlpLog             No
IlpLogFormat       None
IlpLogVarValue     No
WreslPlus          yes
