Begin Config
WreslPlus	yes
MainFile	run\main.wresl
Solver	XA
InitFile	Run\DSS\CL_INIT.dss
InitFPart	INITIAL
SvarFile	Run\DSS\CL_EXISTING_BO_081011_SV.dss
SvarAPart	CalLite
SvarFPart	2005A01A
DvarFile	Run\DSS\D1641_DV.DSS
TimeStep	1MON
StartYear	1921
StartMonth	10
NumberOfSteps	36
LookupSubDir	PA_Base_D1641_Existing
ShowWreslLog	yes
PrefixInitToDvarFile	no
IlpLog	yes
IlpLogFormat	CplexLp
IlpLogVarValue	yes
IlpLogAllCycles	yes
End Config
