<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/wrims_schematics/src/wrims/schematic/MainFrame.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="Java_Bin_Batch" value="D:\cvwrsm\trunk\3rd_party\jrockit-jre1.6.0_26-R28.1.4\bin\"/>
<mapEntry key="WRIMSv2_Engine_Home" value="D:\cvwrsm\trunk\wrims_schematics\"/>
<mapEntry key="Vista_Lib" value="D:\cvwrsm\trunk\3rd_party\vista\lib"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="wrims.schematic.MainFrame"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="."/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="wrims_schematics"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx256M -Xss32M -Djava.library.path=../lib"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:wrims_schematics/bin}"/>
</launchConfiguration>
