<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="org.eclipse.ui.views">
        <view id="wpp.variableview"
             name="All Variables"
          class="wrimsv2_plugin.debugger.view.WPPVariableView"/>
</extension>
<extension point="org.eclipse.ui.views">
        <view id="wpp.exceptionview"
             name="Exception"
          class="wrimsv2_plugin.debugger.view.WPPExceptionView"/>
</extension>
<extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="wpp.launchType"
            class="wrimsv2_plugin.debugger.launcher.WPPTabGroup"
            id="wpp.tabGroup"/>
   </extension>
 <extension point = "org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
	   name="WPP Application"
	   delegate="wrimsv2_plugin.debugger.launcher.WPPLaunchDelegate"
	   modes= "run, debug"
	   id="wpp.launchType"
	   sourceLocatorId="wpp.sourceLocator"
       sourcePathComputerId="wpp.sourcePathComputer">
   </launchConfigurationType>
</extension>
<extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="wrimsv2_plugin.debugger.sourcelookup.WPPSourceLookupDirector"
            name="WPP Source Locator"
            id="wpp.sourceLocator"/>
</extension>
<extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="wrimsv2_plugin.debugger.sourcelookup.WPPSourcePathComputerDelegate"
            id="wpp.sourcePathComputer"/>
</extension>
<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="WPP Application"
            class="wrimsv2_plugin.debugger.launcher.WPPLaunchShortcut"
            modes="run, debug"
            id="WPP.launchShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <instanceof value="org.eclipse.core.resources.IFile"/>
                     <test
                           value="*.wpp, *.wresl"
                           property="org.eclipse.debug.ui.matchesPattern"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="wrimsv2_plugin.presentation.WPPModelPresentation"
            id="wpp.debugModel"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            filenames="*.wpp"
            class="wrimsv2_plugin.editor.WPPEditor"
            default="true"
            name="WPP Editor"
            id="wpp.editor"
            extensions="wpp"/>
   </extension>
      <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="wpp.editor"
            id="wpp.rulerActions">
         <action
               label="Not Used"
               class="wrimsv2_plugin.editor.RulerToggleBreakpointAction"
               style="push"
               actionID="RulerDoubleClick"
               id="wpp.doubleClickBreakpointAction"/>
      </editorContribution>
   </extension>
     <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="wrimsv2_plugin.debugger.breakpoint.WPPLineBreakpoint"
            name="WPP Line Breakpoints"
            markerType="wpp.markerType.lineBreakpoint"
            id="wpp.lineBreakpoint"/>
      <breakpoint
            class="wrimsv2_plugin.debugger.breakpoint.WPPWatchpoint"
            name="WPP Watchpoints"
            markerType="wpp.markerType.watchpoint"
            id="wpp.watchpoint"/>
   </extension>
   <extension
         id="wpp.markerType.lineBreakpoint"
         name="WPP Line Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="wpp.markerType.watchpoint"
         name="WPP Watchpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super type="wpp.markerType.lineBreakpoint"/>
      <persistent value="true"/>
   </extension>
<extension point="org.eclipse.ui.menus">
   <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
     <toolbar id="wpp.toolbar">
       <control
            class="wrimsv2_plugin.debugger.toolbaritem.DebugSet"
            id="wpp.debugset">
       </control>  
     </toolbar>
   </menuContribution>
 </extension>
 <extension
	point="org.eclipse.ui.actionSets">
	<actionSet
		label="debug"
		visible="true"
		id="wpp.debugcontrol">
		<action
			label="Suspend"
			class="wrimsv2_plugin.debugger.menuitem.SuspendMenu"
			menubarPath="org.eclipse.ui.run/debug"
			id="wpp.suspend">
		</action>
		<action
			label="Terminate"
			class="wrimsv2_plugin.debugger.menuitem.TerminateMenu"
			menubarPath="org.eclipse.ui.run/debug"
			id="wpp.terminate">
		</action>
		<action
			label="Next time step"
			class="wrimsv2_plugin.debugger.menuitem.NextTimeStepMenu"
			menubarPath="org.eclipse.ui.run/debug"
			id="wpp.nexttimestep">
		</action>
		<action
			label="Next cycle"
			class="wrimsv2_plugin.debugger.menuitem.NextCycleMenu"
			menubarPath="org.eclipse.ui.run/debug"
			id="wpp.nextcycle">
		</action>
		<action
			label="Resume"
			class="wrimsv2_plugin.debugger.menuitem.ResumeMenu"
			menubarPath="org.eclipse.ui.run/debug"
			id="wpp.resume">
		</action>
	</actionSet>
</extension>
</plugin>
