<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
        <view id="wpp.variableview"
             name="All Variables"
          class="wrimsv2_plugin.debugger.view.WPPVariableView"/>
</extension>
      <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="wpp.launchType"
            class="wrimsv2_plugin.debugger.launcher.WPPTabGroup"
            id="wpp.tabGroup"/>
   </extension>
 <extension point = "org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
	   name="WPP Application"
	   delegate="wrimsv2_plugin.debugger.launcher.WPPLaunchDelegate"
	   modes= "run, debug"
	   id="wpp.launchtype"
       sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
   </launchConfigurationType>
</extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="WPP Application"
            class="wrimsv2_plugin.debugger.launcher.WPPLaunchShortcut"
            modes="run, debug"
            id="WPP.launchShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <instanceof value="org.eclipse.core.resources.IFile"/>
                     <test
                           value="*.wpp"
                           property="org.eclipse.debug.ui.matchesPattern"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
      <extension
         point="org.eclipse.ui.editors">
      <editor
            filenames="*.wpp, *.wresl"
            class="wrimsv2_plugin.editor.WPPEditor"
            default="true"
            name="WPP Editor"
            id="wpp.editor"
            extensions="wpp, wresl"/>
   </extension>
      <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="wpp.editor"
            id="wpp.rulerActions">
         <action
               label="Not Used"
               class="wrimsv2_plugin.editor.RulerToggleBreakpointAction"
               style="push"
               actionID="RulerDoubleClick"
               id="wpp.doubleClickBreakpointAction"/>
      </editorContribution>
   </extension>
     <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="wrimsv2_plugin.debugger.breakpoint.WPPLineBreakpoint"
            name="WPP Line Breakpoints"
            markerType="wpp.markerType.lineBreakpoint"
            id="pda.lineBreakpoint"/>
      <breakpoint
            class="wrimsv2_plugin.debugger.breakpoint.WPPWatchpoint"
            name="PDA Watchpoints"
            markerType="wpp.markerType.watchpoint"
            id="pda.watchpoint"/>
   </extension>
   <extension
         id="wpp.markerType.lineBreakpoint"
         name="WPP Line Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="wpp.markerType.watchpoint"
         name="WPP Watchpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super type="wpp.markerType.lineBreakpoint"/>
      <persistent value="true"/>
   </extension>
</plugin>
