# This config file and run folder must be placed in the same directory

Begin Config
MainFile               run\CONV.wresl # this is comment
Solver                 XA  #XALOG  
DvarFile               "DSS\DV_CONV_test2.dss"
SvarFile               "..\common\DSS\SV_modified_by_CONV.DSS"
SvarAPart              CALSIM  
SvarFPart              2005A01A 
InitFile               "..\common\DSS\INIT_modified_by_CONV.DSS" 
InitFPart              2005A01A  
TimeStep               1MON
StartYear              1921
StartMonth             10 
NumberOfSteps		   36
GroundwaterDir         ..\common\CVGroundwater\Data
ShowWreslLog		   No # another comment
SendAliasToDvar        No
PrefixInitToDvarFile   No
End Config



