# This config file and run folder must be placed in the same directory

Begin Config

WreslPlus              yes
MainFile               run\example_3_conditional_includes.wresl 
Solver                 XA  
DvarFile               DSS\example_3_conditional_includes.dss
SvarFile               DSS\SV.DSS 
SvarAPart              CALSIM  
SvarFPart              2020D09E 
InitFile               DSS\INIT.dss 
InitFPart              2020D09E 
TimeStep               1MON
StartYear              1921
StartMonth             10
StopYear               1921
StopMonth              10
#GroundwaterDir         .
ShowWreslLog		   Yes 


IlpLog  yes
IlpLogFormat   CplexLp
IlpLogVarValue yes

End Config

Begin Initial

option_A     3
TotalFlow    75

End Initial

