# This config file and main wresl file must be placed in the same directory "RUN"

Begin Config
WreslPlus              No
MainFile               Run\mainCONV_30_SA_wresl.wresl
Solver                 XA    
DvarFile               DSS\Existing_BO_CS3A2010dv_wresl.dss
SvarFile               "..\common\DSS\CS3A2010_SV.dss"
SvarAPart              CALSIM  
SvarFPart              CS3A2010
InitFile               "..\common\DSS\CS3A2010Init.dss" 
InitFPart              CS3A2010 
TimeStep               1MON
StartYear              1921
StartMonth             10 
StopYear               2009
StopMonth              9
#NumberOfSteps		   60
GroundwaterDir         ..\common\CVGroundwater\Data\
ShowWreslLog		   yes
SendAliasToDvar        No
PrefixInitToDvarFile   No


IlpLog                 Yes
IlpLogFormat           CplexLp
IlpLogVarValue         Yes 


End Config



