# This config file and run folder must be placed in the same directory

Begin Config

WreslPlus              yes
MainFile               run\main.wresl
Solver                 XA  
DvarFile               Run\DSS\PA_TEST_DV.DSS
SvarFile               Run\DSS\CL_EXISTING_BO_081011_PA_TEST_SV.DSS
SvarAPart              CalLite 
SvarFPart              1945_1947
InitFile               Run\DSS\CL_INIT_2012.dss
InitFPart              PA 
TimeStep               1MON
StartYear              2012
StartMonth             10
NumberOfSteps          24
#StopYear               2014
#StopMonth              9
#GroundwaterDir         .
LookupSubDir           PA_1945_1947
ShowWreslLog		   Yes 
PrefixInitToDvarFile   No    # Do not write initial dss file data into dvar dss result file

IlpLog  no
IlpLogFormat   CplexLp
IlpLogVarValue no

End Config

