<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="DWR"
            id="gov.ca.dwr.calsim">
      </category>
      <view
            name="Storage Flows"
            category="gov.ca.dwr.calsim"
            class="gov.ca.dwr.calsim.views.StorageFlowsView"
            id="gov.ca.dwr.calsim.views.StorageFlowsView">
      </view>
      <view
            name="San Joaquin River"
            category="gov.ca.dwr.calsim"
            class="gov.ca.dwr.calsim.views.SanJoaquinRiverView"
            id="gov.ca.dwr.calsim.views.SanJoaquinRiverView">
      </view>
      <view
            name="Water Management Actions"
            category="gov.ca.dwr.calsim"
            class="gov.ca.dwr.calsim.views.WaterManagementActionsView"
            id="gov.ca.dwr.calsim.views.WaterManagementActionsView">
      </view>
      <view
            name="Delivery Shorages"
            category="gov.ca.dwr.calsim"
            class="gov.ca.dwr.calsim.views.DeliveryShortagesView"
            id="gov.ca.dwr.calsim.views.DeliveryShortagesView">
      </view>
  </extension>
</plugin>
