name: Java CI

on:
  pull_request:
    branches:
      - Feature/wrims-devops
  push:
    branches:
      - Feature/wrims-devops

jobs:
  build:

    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 1.8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Build with Gradle
      run: ./gradlew build
      env:
        GRADLE_OPTS: -Xmx1024m

    - name: Upload jars
      uses: actions/upload-artifact@v4.0.0
      with:
        name: jars result
        path: |
          ./wrims-core/build/libs/*.jar          
          ./wrims/build/libs/*.jar
