# Use \\ instead of \

versionWRIMS = '1.5.0'
versionXA = 'XAV13' 
jdkPath = 'C:\\Java\\jdk1.6.0_21'
jrePath = 'C:\\Java\\jre6'
calsimPath = 'C:\\cvwrsm\\wrims\\wrims1_workspace\\wrims1\\calsim'
innoSetupPath = '"C:\\Program Files\\Inno Setup 5"'
thirdPartyLibPath = 'C:\\cvwrsm\\wrims\\wrims1_workspace\\3rd_party\\libstuff'





